* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.json text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.toml text eol=lf
*.sql text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
uv.lock text eol=lf
.python-version text eol=lf
.node-version text eol=lf
.npmrc text eol=lf
.prettierignore text eol=lf
